# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
frontend/dist/
backend/dist/

# Misc
.env
.env.local
.env.*.local
.DS_Store

# Database
*.sqlite
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
